{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock %}

{% block content %}
<img class="wave" src="{% static 'img/login_wave.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/login_bg.svg' %}">
    </div>
    <div class="login-content">
        <a href="/web3/login" class="btn logout">Đăng nhập</a>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}